<!-- resources/templates/fragments/footer.html -->
<div th:fragment="footer">
    <!-- fragments/footer.html -->
    <footer class="bg-dark text-white text-center py-3">
        <div class="row">
            <!-- Thông tin bản quyền -->
            <div class="col-12 col-md-4 mb-6 mb-md-0">
                <p>&copy; 2024 Công ty ABC. Tất cả các quyền được bảo lưu.</p>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white text-decoration-none">Giới Thiệu</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white text-decoration-none">Liên Hệ</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white text-decoration-none">Chính Sách</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <a href="#" class="text-white mx-2">
                    <i class="bi bi-facebook"></i> <!-- Facebook Icon -->
                </a>
                <a href="#" class="text-white mx-2">
                    <i class="bi bi-twitter"></i> <!-- Twitter Icon -->
                </a>
                <a href="#" class="text-white mx-2">
                    <i class="bi bi-linkedin"></i> <!-- LinkedIn Icon -->
                </a>
            </div>
        </div>
    </footer>
</div>
